* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  line-height: 1;
}



/* custom */
#grid {
  height: 500px;
  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;  
}

.square {
  float: left;
  display: block;
  background: grey;
  border: 1px solid white;
/*  border: 1px solid white;
  border-: none;  */
}